.nav {
    height: 70px;
    width: 100%;
    background-color: rgba(167, 160, 160, 0.775);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.nav-links li.active a {
  border-bottom: 2px solid black; /* ou une autre couleur */
}